:root {
  --focus-clr-val: 0,0,128;
  --focus-clr: rgb(0,0,128);
}

.tree-view__expander {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-cheveron-righ: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -5 24 24'%3E%3Cpath fill='%23000' d='m5.314 7.071l-4.95-4.95A1 1 0 0 1 1.778.707l5.657 5.657a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 0 1-1.414-1.414z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-cheveron-righ);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-cheveron-righ);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.chevron-down-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-chevron-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 -8 24 24'%3E%3Cpath fill='%23000' d='m7.071 5.314l4.95-4.95a1 1 0 1 1 1.414 1.414L7.778 7.435a1 1 0 0 1-1.414 0L.707 1.778A1 1 0 1 1 2.121.364z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-chevron-down);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-chevron-down);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.keyboard-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-keyboard: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='M6.196 44.09h43.628c4.104 0 6.176-2.051 6.176-6.097V19.031c0-4.065-2.072-6.117-6.176-6.117H6.196C2.072 12.914 0 14.966 0 19.03v18.963c0 4.064 2.072 6.097 6.196 6.097m.06-3.176c-1.974 0-3.08-1.046-3.08-3.098V19.208c0-2.052 1.106-3.117 3.08-3.117h43.509c1.953 0 3.058 1.065 3.058 3.117v18.608c0 2.052-1.105 3.098-3.058 3.098Zm40.056-17.246h1.4c.573 0 .83-.257.83-.829v-1.4c0-.553-.257-.83-.83-.83h-1.4c-.572 0-.83.277-.83.83v1.4c0 .572.258.829.83.829m-6.354 0h1.4c.573 0 .85-.257.85-.829v-1.4c0-.553-.277-.83-.85-.83h-1.4q-.83 0-.83.83v1.4c0 .572.277.829.83.829m-6.354 0h1.42c.553 0 .83-.257.83-.829v-1.4q0-.83-.83-.83h-1.42q-.83 0-.829.83v1.4c0 .572.276.829.829.829m-6.334 0h1.401c.572 0 .829-.257.829-.829v-1.4c0-.553-.257-.83-.829-.83H27.27c-.572 0-.829.277-.829.83v1.4c0 .572.257.829.829.829m-6.354 0h1.42c.553 0 .83-.257.83-.829v-1.4q0-.83-.83-.83h-1.42q-.828 0-.829.83v1.4c0 .572.277.829.83.829m-6.354 0h1.421c.553 0 .829-.257.829-.829v-1.4q0-.83-.829-.83h-1.42q-.83 0-.83.83v1.4c0 .572.277.829.83.829m-6.334 0h1.4c.573 0 .83-.257.83-.829v-1.4c0-.553-.257-.83-.83-.83h-1.4c-.573 0-.83.277-.83.83v1.4c0 .572.257.829.83.829m12.688 6.354h1.42q.83 0 .83-.83v-1.4c0-.572-.277-.829-.83-.829h-1.42c-.552 0-.829.257-.829.829v1.4q0 .83.83.83m6.354 0h1.401c.572 0 .829-.277.829-.83v-1.4c0-.572-.257-.829-.829-.829H27.27c-.572 0-.829.257-.829.829v1.4c0 .553.257.83.829.83m6.334 0h1.42q.83 0 .83-.83v-1.4c0-.572-.277-.829-.83-.829h-1.42c-.553 0-.829.257-.829.829v1.4q0 .83.829.83m6.354 0h1.4c.573 0 .85-.277.85-.83v-1.4c0-.572-.277-.829-.85-.829h-1.4c-.553 0-.83.257-.83.829v1.4q0 .83.83.83m-25.396 0h1.421q.83 0 .829-.83v-1.4c0-.572-.276-.829-.829-.829h-1.42c-.553 0-.83.257-.83.829v1.4q0 .83.83.83m31.75 0h1.4c.573 0 .83-.277.83-.83v-1.4c0-.572-.257-.829-.83-.829h-1.4c-.572 0-.83.257-.83.829v1.4c0 .553.258.83.83.83m-38.084 0H9.63c.573 0 .83-.277.83-.83v-1.4c0-.572-.257-.829-.83-.829h-1.4c-.573 0-.83.257-.83.829v1.4c0 .553.257.83.83.83m6.334 6.353H41.36c.572 0 .849-.276.849-.828v-1.421c0-.552-.277-.829-.85-.829H14.563q-.828 0-.828.829v1.42q0 .83.828.83m31.75 0h1.4c.573 0 .83-.276.83-.828v-1.421c0-.552-.257-.829-.83-.829h-1.4c-.572 0-.83.277-.83.829v1.42c0 .553.258.83.83.83m-38.084 0H9.63c.573 0 .83-.276.83-.828v-1.421c0-.552-.257-.829-.83-.829h-1.4c-.573 0-.83.277-.83.829v1.42c0 .553.257.83.83.83'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-keyboard);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-keyboard);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.accessibility-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-accessibility: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 6q-.825 0-1.412-.587T10 4t.588-1.412T12 2t1.413.588T14 4t-.587 1.413T12 6M9 22V9H3V7h18v2h-6v13h-2v-6h-2v6z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-accessibility);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-accessibility);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.dairy-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-dairy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='%23000'%3E%3Cpath fill-rule='evenodd' d='M21.675 6L18 21.623v18.899c0 .913.68 1.478 1.306 1.478h10.388c.627 0 1.306-.565 1.306-1.478V21.623L27.325 6zm-2.37 1.34s-.53.044-.99-.234c-.352-.212-.662-.613-.662-1.367C17.653 4 18.479 4 20.958 4h7.084c2.479 0 3.305 0 3.305 1.74c0 .753-.31 1.154-.662 1.367c-.46.277-.99.232-.99.232L33 21.391v19.13C33 42.444 31.52 44 29.694 44H19.306C17.48 44 16 42.443 16 40.522v-19.13z' clip-rule='evenodd'/%3E%3Cpath d='M24 23.814c-2.333-2.186-7 0-7 0L20.5 6h8L31 16.526l1 7.895L31 26s-4.667 0-7-2.186'/%3E%3Cpath d='M19 5h11l-1 2h-9z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-dairy);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-dairy);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.fish-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-fish: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16.69 7.44A6.97 6.97 0 0 0 15 12a6.97 6.97 0 0 0 1.699 4.571'/%3E%3Cpath d='M2 9.504c7.715 8.647 14.75 10.265 20 2.498C16.75 4.241 9.715 5.86 2 14.506M18 11v.01'/%3E%3Cpath d='M11.5 10.5q-1 1.5 0 3'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-fish);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-fish);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.meat-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-meat: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m13.62 8.382l1.966-1.967A2 2 0 1 1 19 5a2 2 0 1 1-1.413 3.414l-1.82 1.821m-9.863 8.361c2.733 2.734 5.9 4 7.07 2.829c1.172-1.172-.094-4.338-2.828-7.071c-2.733-2.734-5.9-4-7.07-2.829c-1.172 1.172.094 4.338 2.828 7.071M7.5 16l1 1'/%3E%3Cpath d='M12.975 21.425c3.905-3.906 4.855-9.288 2.121-12.021c-2.733-2.734-8.115-1.784-12.02 2.121'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-meat);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-meat);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.veg-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-veg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M15 11.063C12.53 13.65 10.059 20 10.059 20S6.529 11.063 3 9'/%3E%3Cpath d='m20.496 5.577l.426 4.424c.276 2.87-1.875 5.425-4.745 5.702c-2.816.27-5.367-1.788-5.638-4.604a5.12 5.12 0 0 1 4.608-5.59l4.716-.454a.58.58 0 0 1 .633.522'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-veg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-veg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.food-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  --svg-food: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M4.67 2c-.624 0-1.175.438-1.29 1.068C3.232 3.886 3 5.342 3 6.5c0 1.231.636 2.313 1.595 2.936c.271.177.405.405.405.6v.41q0 .027-.003.054c-.027.26-.151 1.429-.268 2.631C4.614 14.316 4.5 15.581 4.5 16a2 2 0 1 0 4 0c0-.42-.114-1.684-.229-2.869a302 302 0 0 0-.268-2.63L8 10.446v-.41c0-.196.134-.424.405-.6A3.5 3.5 0 0 0 10 6.5c0-1.158-.232-2.614-.38-3.432A1.305 1.305 0 0 0 8.33 2c-.34 0-.65.127-.884.336A1.5 1.5 0 0 0 6.5 2c-.359 0-.688.126-.946.336A1.32 1.32 0 0 0 4.671 2M6 3.5a.5.5 0 0 1 1 0v3a.5.5 0 0 0 1 0V3.33A.33.33 0 0 1 8.33 3c.157 0 .28.108.306.247C8.783 4.06 9 5.439 9 6.5a2.5 2.5 0 0 1-1.14 2.098c-.439.285-.86.786-.86 1.438v.41q0 .08.008.16c.028.258.151 1.424.268 2.622c.118 1.215.224 2.415.224 2.772a1 1 0 1 1-2 0c0-.357.106-1.557.224-2.772c.117-1.198.24-2.364.268-2.622q.008-.08.008-.16v-.41c0-.652-.421-1.153-.86-1.438A2.5 2.5 0 0 1 4 6.5c0-1.06.217-2.44.364-3.253A.305.305 0 0 1 4.671 3A.33.33 0 0 1 5 3.33V6.5a.5.5 0 0 0 1 0zm5 3A4.5 4.5 0 0 1 15.5 2a.5.5 0 0 1 .5.5v6.978l.02.224a626 626 0 0 1 .228 2.696c.124 1.507.252 3.161.252 3.602a2 2 0 1 1-4 0c0-.44.128-2.095.252-3.602c.062-.761.125-1.497.172-2.042l.03-.356H12.5A1.5 1.5 0 0 1 11 8.5zm2.998 3.044l-.021.245l-.057.653c-.047.544-.11 1.278-.172 2.038c-.126 1.537-.248 3.132-.248 3.52a1 1 0 1 0 2 0c0-.388-.122-1.983-.248-3.52a565 565 0 0 0-.229-2.691l-.021-.244v-.001L15 9.5V3.035A3.5 3.5 0 0 0 12 6.5v2a.5.5 0 0 0 .5.5h1a.5.5 0 0 1 .498.544'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg-food);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: var(--svg-food);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.tree-view {
  --focus-bg-clr: rgba(var(--focus-clr-val),0.05);
  --focus-border-clr: rgba(var(--focus-clr-val),0.25);
  overflow-x: auto;
  padding-right: 1rem;
}
.tree-view ul, .tree-view li {
  list-style-type: none;
  position: relative;
  max-width: fit-content;
  pointer-events: none;
}
.tree-view > ul {
  margin: 0;
  padding: 0;
}
.tree-view__branch {
  margin: 0;
  padding-left: 2rem;
  display: none;
}
.tree-view__tree-item {
  margin-block: 0.5rem;
  pointer-events: all;
}
.tree-view__tree-item:focus {
  outline: none;
}
.tree-view__tree-item--childless {
  margin-left: 2rem;
}
.tree-view__item-layout {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tree-view__text {
  position: relative;
  font-size: 0.875rem;
  pointer-events: auto;
  user-select: none;
}
.tree-view__text:hover::after {
  position: absolute;
  top: 0;
  left: -0.25rem;
  content: "";
  border-radius: 0.25rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  outline: 3px solid var(--focus-clr);
}
.tree-view__icon {
  height: 1.5rem;
  width: 1.5rem;
}
.tree-view__checkbox {
  display: flex;
  align-items: center;
  pointer-events: auto;
}
.tree-view__checkbox > input[type=checkbox] {
  accent-color: var(--focus-clr);
  min-height: 1rem;
  min-width: 1rem;
  cursor: pointer;
}
.tree-view__checkbox > input[type=checkbox]:focus {
  outline: none;
}
.tree-view__expander {
  background-color: var(--focus-clr);
  height: 1.5rem;
  width: 1.5rem;
  transition: transform 100ms ease;
  cursor: pointer;
  pointer-events: auto;
}
.tree-view__tree-item[aria-expanded=true] > .tree-view__branch {
  display: block;
}
li[aria-expanded=true] > .tree-view__item-layout > .tree-view__expander {
  transform: rotate(90deg);
}
.tree-view__tree-item[aria-selected] > .tree-view__item-layout > .tree-view__text {
  cursor: pointer;
}
.tree-view__tree-item[aria-selected=true] > .tree-view__item-layout > .tree-view__text:before {
  position: absolute;
  top: 0;
  left: -0.25rem;
  content: "";
  border-radius: 0.25rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  background-color: var(--focus-bg-clr);
  outline: 2px solid var(--focus-border-clr);
}
.tree-view__tree-item:focus > .tree-view__item-layout > .tree-view__text:before {
  position: absolute;
  top: 0;
  left: -0.25rem;
  content: "";
  border-radius: 0.25rem;
  width: calc(100% + 0.5rem);
  height: 100%;
  outline: 2px solid var(--focus-clr);
}
